*.vcxproj
*.filters
.vs/
cmake_install.cmake
*.sln
CMakeCache.txt
CMakeFiles/
lib/
src/.vscode/
src/GLUtils.dir/
x64/
test/gl_test_light/GL_Test_Lights.dir/
test/gl_test_light/GLTest_01.dir/
test/gl_test_light/GLTest01.dir/
*.user
*.pdb
bin/
*.un~
test/gl_test_shadow_map/GLTest02.dir/
